.box{
    width: 15px;
    height: 15px;
    border: 1px solid black;
    margin-top:-25px;
    padding-bottom: 15px;
    padding-left: 2px;
    font-size: 12px;
    margin-left: 195px;

}
.linesatang{
    height: 482px; border-left: 1px solid #656f6a; position:absolute; top: 353px;right: 163px;
}


/* reset */
@page { size: A4;
    margin: 0cm !important;
}
@media print {
    * {
        /*-webkit-print-color-adjust: exact;*/
    }
    .no-print, .no-print *
    {
        display: none !important;
    }
    html {
        background: none;
        padding: 0;
    }

    body {
        box-shadow: none;
        margin: 0;
    }

    span:empty {
        display: none;
    }

    .add, .cut {
        display: none;
    }

    /*@page {
        size: A4 landscape;
    }*/
}
tr
{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
body{
    color:black;
    -webkit-print-color-adjust: exact;
}
/* content editable */

/**[contenteditable] { border-radius: 0.25em; min-width: 1em; outline: 0; }

*[contenteditable] { cursor: pointer; }

*[contenteditable]:hover, *[contenteditable]:focus, td:hover *[contenteditable], td:focus *[contenteditable], img.hover { background: #DEF; box-shadow: 0 0 1em 0.5em #DEF; }

span[contenteditable] { display: inline-block; }*/

/* heading */

h1 { font: bold 85% sans-serif; /* letter-spacing: 0.5em; */ text-align: center;}

/* table */
table {
    border-color: black;
}
table.bordered { table-layout: fixed; width: 100%; font-size: 12px; }

table.bordered th,
table.bordered td { border-collapse: collapse;border-left: 1px solid; border-right: 1px solid; }

table.bordered th,
table.bordered td { padding: 0.3em;  }

table.bordered th {
    font-size: 16px;
}
table.bordered td { line-height: 16px;padding-bottom: 1px;}

td.no-bottom {
    border: none !important;

}
table.bordered tr:not(:last-child) {
    border-left: 1px solid black;
}

.inbox{
    border: 1px solid black;
    padding-left: 3.5px;
    padding-right: 3.5px;
    padding-top: 3px;
    padding-bottom: 1px;
}
.section2box{
    border-radius: 5px;
    width: 100%;
    /*float: left;*/
    height: 90px;
    border: 0.5px solid black;
    font-size: 14px;
}
.section3box{
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
    /*float: left;*/
    height: 90px;
    border: 0.5px solid black;
    font-size: 14px;
}
/* header */
header { /* margin: 0 0 3em; */ }
header:after { clear: both; content: ""; display: table; }

header h1 {border-radius: 0.25em; color: #000; margin: 0 0px 1em; padding: 0.5em 50px; }
header .address { float: left; font-size: 75%; font-style: normal; line-height: 1.25; margin: 0 1em 1em 0; }
header .address p { margin: 0 0 0.25em; }
header span, header img { display: block; float: left; }
header span { margin: 0 0 1em 1em; max-height: 25%; max-width: 60%; position: relative; }
header img { max-height: 100%; max-width: 100%; }
header input { cursor: pointer; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; height: 100%; left: 0; opacity: 0; position: absolute; top: 0; width: 100%; }

/* article */

.article, article .address, table.meta, table.inventory { margin-top: 5px/* margin: 0 0 3em;*/ }
.article:after { clear: both; content: ""; display: table; }
.article h1 { clip: rect(0 0 0 0); position: absolute; }
.article p { float: left; margin: 0px; margin-top: 5px;}
.article .address { float: left; font-size: 12px; }

/* table meta & balance */

table.meta, table.balance { float: right; width: 36%; }
table.meta:after, table.balance:after { clear: both; content: ""; display: table; }

/* table meta */

table.meta th { width: 40%; }
table.meta td { width: 60%; }

/* table items */
table.inventory { clear: both;  border-collapse: collapse; }
table.inventory th { font-weight: bold; text-align: center; }


table.inventory td:nth-child(1) { width: 26%; }
table.inventory td:nth-child(2) { width: 38%; text-align:center; }
table.inventory td:nth-child(3) { text-align: right; width: 12%; }
table.inventory td:nth-child(4) { text-align: right; width: 12%; }
table.inventory td:nth-child(5) { text-align: right; width: 12%; }

/* table balance */

table.balance th, table.balance td { width: 50%; }
table.balance td { text-align: right; }

table input{
    margin-top: 0;
}
/* javascript */

.add, .cut
{
    border-width: 1px;
    display: block;
    font-size: .8rem;
    padding: 0.25em 0.5em;
    float: left;
    text-align: center;
    width: 0.6em;
}

.add, .cut
{
    background: #9AF;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background-image: -moz-linear-gradient(#00ADEE 5%, #0078A5 100%);
    background-image: -webkit-linear-gradient(#00ADEE 5%, #0078A5 100%);
    border-radius: 0.5em;
    border-color: #0076A3;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 -1px 2px rgba(0,0,0,0.333);
}
.border-head{
    border-width: 1px;
    border-style: solid;
    float: left;
    font-size: 12px;
    height: 120px;
    width:58.5%;
    /*width: 49.2%;*/
    margin-left: 0px;
    padding-left: 5px;
    position: relative;
}
/*.border-full{
    border-width: 1px;
    border-style: solid;
    float: left;
    font-size: 12px;
    height: 120px;
    width:99.6%;
    margin-left: 0px;
    padding-left: 5px;
    position: relative;
}*/
.border-foot{
    border-width: 1px;
    border-style: solid;
    float: left;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    /* padding-bottom: 5px; */
}
.p-nomargin{
    margin-top: 5px;
    margin-bottom: 0px;
}
.td-noborder{
    border-width: 0px;
    font-size: 12px;

}
.td-noborder2{
    border-width: 0px;
    font-size: 16px;

}
.add { margin: -2.5em 0 0; }

.add:hover { background: #00ADEE; }

.cut { opacity: 0; position: absolute; top: 0; left: -1.5em; }
.cut { -webkit-transition: opacity 100ms ease-in; }

tr:hover .cut { opacity: 1; }
.invoice-page {

    padding-bottom: 0.25in !important;

}
.invoice-page-wrap
{
    margin:0 auto;
    /*min-height: 710px;*/
    /*min-width:100%;*/
    padding:0.5in;
    padding-top: 0.25in;
    padding-bottom: 0.25in;
    position: relative;
    /*page-break-after :avoid;*/
    /*page-break-inside: avoid;*/

}

@page { margin: 0; }

.dotted {
    display: inline-block;
    border-bottom: 1px dotted black;
}
.rateOther {
    width: 50px;
    text-align:center;
}
.incomeOther {
    width: 330px;
    display: inline-block;
}
label {
    font-size: 14px;
}

.indentlvl1{
    padding-left:18px !important;
}
.indentlvl2{
    padding-left:37px !important;
}
.indentlvl3{
    padding-left:54px !important;
}
.indentinline{
    width: 340px;
    display: inline-block;
}
.indentinline-warning{
    width: 530px;
    display: inline-block;
}
.indentinline2{
    width: 385px;
    display: inline-block;
}
.indentspan{
    /*font-weight: bold;*/

    vertical-align:top;
    display: inline-block;
}
.number13{

    z-index:-1;
    margin-top: -50px;
    /*margin-left: 430px;*/
    font-size: 12px;
    padding-right:30px;
    text-align: right;
}
.boxnumber13{
    float: right;  font-size: 12px; margin-top: 0px;
}
.textbaht{
    text-align: left;
    font-size: 12px;
    padding-top: 2px;
    background-color: #DDD;
    display: inline-block;
    width: 60.7%;
    padding-left: 10px;
    vertical-align: middle;
    padding-bottom: 2px;
}

.circle {
    border: 1px solid;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: relative;
    /*top: 4px;*/
    top:25px;
    right: 30px;
    opacity:0.7;
    word-wrap:break-word;
    /* width and height can be anything, as long as they're equal */
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @page { margin: 0 cm; }
    .circle {
        border: 1px solid;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        position: relative;
        top: 5px;
        right: 30px;
        opacity:0.7;
        word-wrap:break-word;
        /* width and height can be anything, as long as they're equal */
    }
    .height1 {
        height:3px !important;
    }
    .ie-margin-com {
        margin-left:16px !important;
    }
    .invoice-page-wrap
    {
        margin:0 auto;
        min-height: 800px;
        /*min-width:100%;*/
        /*padding:0.5in;*/
        /*padding-top: 0.4in;*/
        padding-bottom: 0.5in;
        position: relative !important;
        page-break-after :avoid !important;
        page-break-inside: avoid !important;

    }
    table.bordered th {

    }
}
/*@media page and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) { @media
{
    .page-safari {
        line-height:13px;
    }
    .section2box {
        height: 110px !important;
    }
}}*/

.text-circle{
    padding-top: 20px;
    padding-left: 0px;
    font-size: 12px;
    text-align: center;
    word-wrap:break-word;
    margin-top:0 !important;
}
.height1 {
    height:1px;
}

#spend{
    font-size:12px;
}
.warning-div{
    /*font-size:12px;*/
    font-size:11px;
    border:1px solid;
    margin-top:2px;
    vertical-align:middle;
}
.to{
    vertical-align: top;

    margin-left: 3px;
}
.numblock{
    width:12px;
    height:14px;
    border:1px solid black;
    text-align:center;
    display:inline-block;
}
.numblock1{
    width:12px;
    height:14px;
    border:1px solid black;
    text-align:center;

    display:inline-block;
}
.pull-right{
    font-family : Tahoma,Arial,Verdana;
}

.rubber-stamp-container {
    position: absolute;
    right: 47px;
    width: 235px;
    text-align: center;
    bottom: 51px;
}
.rubber-stamp {
    position: relative;
    /*right: -35px;*/
    /*max-height: 80px;*/
    /*top: -30px;*/
    right: -28px;
    bottom: -20px;
    z-index: 99;
}
.user-signature-date-container {
    position:absolute;
    left:0px;
    width:125px;
    bottom:35px;
    text-align:center;
}
.user-signature-date {
    position:relative;
    left:-15px;
}
.user-signature-container {
    position:absolute;
    width:145px;
    text-align:center;
}
.user-signature {
    position: relative;
    /*left: 85px;
    max-height: 44px;
    top: 12px;*/
    left:50px;
    top:33px;

}
input[type="checkbox"].canChk {
    pointer-events: auto;
}

.invoice-page-wrap
{
    /*border: 1px solid #0f0f0f;*/
    margin-bottom:30px;
    background-color:white;
}
.invoice-page
{
    padding: .5in .5in .5in .5in;
    margin:0 auto;
}

.previewContainer
{
    margin: 5px auto;
    width: 210mm;
    height:auto;

}

input[type="checkbox"]{
    pointer-events:none;
}
body
{
    background-color: #505050;
}
.btntop{
    position: fixed;
    left: 0px;
    top:10px;
    z-index: 10;
}
.button {
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
    background-color: #EEE;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
    background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
    background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
    background: linear-gradient(to bottom, #fbfbfb, #e1e1e1);
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    border: 1px solid #d4d4d4;
    height: 32px;
    line-height: 30px;
    padding: 0px 25.6px;
    font-weight: 300;
    font-size: 14px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
    color: #666;
    text-shadow: 0 1px 1px white;
    margin: 0;
    text-decoration: none;
    text-align: center; }
/* line 44, ../scss/partials/_buttons.scss */
.button:hover, .button:focus, .button:active, .button.is-active, .button.active {
    text-decoration: none; }
/* line 48, ../scss/partials/_buttons.scss */
.button:hover, .button:focus {
    color: #666;
    background-color: #EEE;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RjZGNkYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
    background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
    background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
    background: linear-gradient(to bottom, #ffffff, #dcdcdc); }
/* line 53, ../scss/partials/_buttons.scss */
.button:active, .button.is-active, .button.active {
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    background: #eeeeee;
    color: #bbbbbb; }
/* line 59, ../scss/partials/_buttons.scss */
.button:focus {
    outline: none; }

/* line 65, ../scss/partials/_buttons.scss */
input.button, button.button {
    height: 34px;
    cursor: pointer;
    -webkit-appearance: none;
}
.button-primary {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYjVlNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOGRiMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b5e5), color-stop(100%, #008db2));
    background: -moz-linear-gradient(top, #00b5e5, #008db2);
    background: -webkit-linear-gradient(top, #00b5e5, #008db2);
    background: linear-gradient(to bottom, #00b5e5, #008db2);
    background-color: #00A1CB;
    border-color: #007998;
    color: #FFFFFF;
    text-shadow: 0 -1px 1px rgba(0, 40, 50, 0.35); }
/* line 242, ../scss/partials/_buttons.scss */
.button-primary:hover, .button-primary:focus {
    background-color: #00A1CB;
    color: #FFFFFF;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYzlmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOGRiMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00c9fe), color-stop(100%, #008db2));
    background: -moz-linear-gradient(top, #00c9fe, #008db2);
    background: -webkit-linear-gradient(top, #00c9fe, #008db2);
    background: linear-gradient(to bottom, #00c9fe, #008db2); }
/* line 247, ../scss/partials/_buttons.scss */
.button-primary:active, .button-primary.is-active, .button-primary.active {
    background: #1495b7;
    color: #005065; }
.button.glow {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -ms-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -khtml-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: glowing;
    -khtml-animation-name: glowing;
    -moz-animation-name: glowing;
    -ms-animation-name: glowing;
    -o-animation-name: glowing;
    animation-name: glowing; }
/* line 456, ../scss/partials/_buttons.scss */
.button.glow:active {
    -webkit-animation-name: none;
    -moz-animation-name: none;
    -ms-animation-name: none;
    -o-animation-name: none;
    animation-name: none;
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white; }



